.section-info {
  padding: 160px 0;
  background-color: var(--color-secondary);

  .logo {
    width: 172px;
    height: auto;
    margin: 0 auto;
  }

  .wrapper-content {
    .title {
      margin-top: 40px;
    }

    .desc {
      margin-top: 24px;
    }
  }
}
