:root {
  --font-primary: "Helvetica Neue", sans-serif;
  --color-primary: #1e1e1e;
  --color-black: #000000;
  --color-secondary: #e4ddce;
  --color-third: #e3dccd;
}

.h2-font {
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
}

.h3-font {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.b1-font {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.b2-font {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.tag-font {
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
}

.color-white {
  color: #ffffff;
}

.color-black {
  color: #000000;
}

.color-primary {
  color: #1e1e1e;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
  background-color: var(--color-black);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header__container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 16px 80px;
  border-bottom: 1px solid rgba(228, 221, 206, 0.4);
  backdrop-filter: blur(10px);
}
.header__logo a {
  display: inline-block;
  width: auto;
  height: 50px;
}
.header__logo a img {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--font-primary);
}

.button-primary {
  display: inline-block;
  padding: 11px 24px;
  background-color: var(--color-secondary);
  transition: all 0.4s ease;
  border: 1px solid var(--color-primary);
  box-shadow: 0 0 0 0px var(--color-secondary);
}
.button-primary:hover {
  border: 1px solid rgba(30, 30, 30, 0.4);
  box-shadow: 0 0 0 4px var(--color-secondary);
  color: var(--color-primary);
}

.process {
  width: 100%;
  height: 100vh;
}
.process__wrapper {
  width: 365px;
  height: 365px;
  border-radius: 50%;
  position: relative;
}
.process__wrapper::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: rgba(185, 106, 7, 0.4);
  filter: blur(500px);
}
.process__wrapper .circle-svg {
  position: absolute;
  top: 0;
  left: 0;
}
.process__wrapper .circle-svg .progress-circle {
  transform-origin: center;
  transform: rotate(90deg);
}
.process__wrapper .circle-svg .progress-path {
  opacity: 0;
}
.process__wrapper .shadow-both {
  position: absolute;
  bottom: -110px;
  transform: translateX(-65px);
  left: 50%;
}
.process__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}
.process__front {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -313px);
  width: 594px;
  aspect-ratio: 1;
  z-index: 2;
}
.process__item {
  position: absolute;
}
.process__item.step-none {
  display: none;
}
.process__item img {
  object-position: right;
}

footer {
  position: relative;
  overflow: hidden;
}
footer.done .footer-top {
  z-index: 0;
  opacity: 0;
  visibility: hidden;
}
footer.done .footer-social {
  opacity: 1;
  visibility: visible;
}
footer .footer-top {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  background-color: var(--color-black);
  transition: all 0.4s ease;
}
footer .footer-top .title {
  text-align: center;
  margin: auto;
  font-size: 48px;
  line-height: 100%;
  color: var(--color-third);
  padding: 0 24px;
}
footer .footer-bottom {
  padding: 40px 80px;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
footer .footer-bottom__logo {
  width: 180px;
  height: 140px;
  margin: 0 auto;
}
footer .footer-bottom__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
footer .footer-bottom__main {
  margin-top: 55px;
}
footer .footer-bottom__main .footer-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 24px;
}
footer .footer-bottom__main .footer-menu-item {
  color: var(--color-third);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
footer .footer-bottom__main .footer-menu ul {
  font-weight: 300;
  max-width: 70%;
}
footer .footer-bottom__main .footer-menu a {
  color: var(--color-third);
}
footer .footer-social {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  right: 40px;
  bottom: 80px;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
footer .footer-social .title {
  font-size: 16px;
  font-weight: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
footer .footer-social .list-item {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 12px;
}
footer .footer-social .copyright {
  font-size: 12px;
  line-height: 100%;
  font-weight: 300;
  margin-top: 60px;
}
footer .footer-ovl {
  background-color: var(--color-third);
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  transform: skewY(-30deg) translateY(-150%);
}

/*# sourceMappingURL=style.css.map */
