:root {
  --font-primary: "Helvetica Neue", sans-serif;
  --color-primary: #1e1e1e;
  --color-black: #000000;
  --color-secondary: #e4ddce;
  --color-text: #e5dccb;
}

.h2-font {
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
}

.h3-font {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.b1-font {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.b2-font {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.tag-font {
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
}

.color-white {
  color: #ffffff;
}

.color-black {
  color: var(--color-black);
}

.color-primary {
  color: var(--color-primary);
}

.color-text {
  color: var(--color-text);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
  background-color: var(--color-black);
  font-family: var(--font-primary);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.header__container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 16px 80px;
  border-bottom: 1px solid rgba(228, 221, 206, 0.4);
  backdrop-filter: blur(10px);
}
.header__logo a {
  display: inline-block;
  width: auto;
  height: 50px;
}
.header__logo a img {
  width: 100%;
  height: 100%;
}

.button-primary {
  display: inline-block;
  padding: 11px 24px;
  background-color: var(--color-secondary);
  transition: all 0.4s ease;
  border: 1px solid transparent;
  box-shadow: 0 0 0 0px var(--color-secondary);
}
.button-primary:hover {
  border: 1px solid rgba(30, 30, 30, 0.4);
  box-shadow: 0 0 0 4px var(--color-secondary);
  color: var(--color-primary);
}
.button-primary.w-full {
  width: calc(100% - 8px);
  text-align: center;
}

.process {
  width: 100%;
  height: 100vh;
}
.process__wrapper {
  width: 365px;
  height: 365px;
  border-radius: 50%;
  position: relative;
}
.process__wrapper .circle-svg {
  position: absolute;
  top: 0;
  left: 0;
}
.process__wrapper .circle-svg .progress-circle {
  transform-origin: center;
  transform: rotate(90deg);
}
.process__wrapper .circle-svg .progress-path {
  opacity: 0;
}
.process__back {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.process__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}
.process__container .shadow-both {
  position: absolute;
  bottom: -14px;
  transform: translateX(-65px);
  left: 50%;
  z-index: 2;
}
.process__container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: rgba(185, 106, 7, 0.4);
  filter: blur(500px);
}
.process__front {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -313px);
  width: 594px;
  aspect-ratio: 1;
  z-index: 2;
}
.process__front .both {
  position: relative;
  width: 100%;
  height: 100%;
}
.process__front .both .button-discover {
  position: absolute;
  left: var(--circle-x, 0);
  top: var(--circle-y, 0);
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.5s ease;
  width: 80px;
  height: 80px;
  background-color: var(--color-text);
  border-radius: 50%;
  pointer-events: none;
  font-weight: 400;
  z-index: 3;
}
.process__front .both .button-discover.zoom {
  animation: zoomEffect 0.4s ease;
}
.process__front .both:hover .button-discover {
  transform: scale(1);
}
.process__front img:hover {
  cursor: none;
}
.process__front--content {
  position: absolute;
  max-width: 325px;
  width: 100%;
  left: 80px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
}
.process__front--content.none-content {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}
.process__front--content h4 {
  margin-bottom: 40px;
  font-weight: 400;
}
.process__front--content h3 {
  margin-bottom: 24px;
}
.process__item {
  position: absolute;
}
.process__item.step-none {
  display: none;
}
.process__item img {
  object-position: right;
}

@keyframes zoomEffect {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.experience {
  padding: 90px 80px;
}
.experience__content--box {
  text-align: center;
  padding: 105px 64px 0px;
}
.experience__content--box h3 {
  margin-bottom: 24px;
}
.experience__content--box p {
  margin-bottom: 40px;
}
.experience__image--box {
  position: relative;
  width: 100%;
  aspect-ratio: 408/638;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 0.4s ease, aspect-ratio 0.4s ease;
}
.experience__image--box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #645e53;
  transition: all 0.4s ease;
  z-index: 5;
}
.experience__image--box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: rgba(185, 106, 7, 0.4);
  filter: blur(150px);
  z-index: -1;
}
.experience__image--box:hover {
  cursor: pointer;
}
.experience__image--box:hover::before {
  height: calc(100% - 65.5px);
}
.experience__image--box:hover .experience__image--default {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.experience__image--box:hover .experience__image--hover {
  opacity: 1;
  visibility: visible;
}
.experience__image--wrapper {
  position: relative;
  height: 100%;
}
.experience__image--wrapper .img {
  width: 100%;
  height: 100%;
}
.experience__image--wrapper .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.experience__image--wrapper .img-shadow {
  position: absolute;
  left: 50%;
  transform: translateX(-76px);
  bottom: 26px;
}
.experience__image--wrapper p {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
}
.experience__image--default {
  height: 100%;
}
.experience__image--hover {
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.experience__image--hover .img {
  margin-bottom: 24px;
  position: relative;
}
.experience__image--hover .img::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 1px;
  right: 1px;
  bottom: 0;
  background: linear-gradient(180.03deg, rgba(0, 0, 0, 0) 26.09%, rgba(0, 0, 0, 0.6) 89.81%, rgba(0, 0, 0, 0) 110.88%), linear-gradient(180deg, rgba(0, 0, 0, 0) 56.23%, rgba(0, 0, 0, 0.4) 84.95%, rgba(0, 0, 0, 0) 110.91%);
}
.experience__image--hover .experience__image--wrapper p {
  width: calc(100% - 64px);
  text-align: center;
  bottom: 24px;
  z-index: 4;
}

/*# sourceMappingURL=style.css.map */
